/**
  Font Family Setting
 */
$base-font-family: 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', "游ゴシック体", "メイリオ ", "Roboto Bold", "03 スマートフォント", "Braisetto Regular", "Thonburi Bold", sans-serif;
//$serif-font-family: 游明朝, "Yu Mincho", YuMincho, "Hiragino Mincho ProN", "Hiragino Mincho Pro", HGS明朝E, メイリオ, Meiryo, serif;

/**
  Default Colors
 */
$white    : #fff    !default;
$gray-100 : #f8f9fa !default;
$gray-200 : #e9ecef !default;
$gray-300 : #dee2e6 !default;
$gray-400 : #ced4da !default;
$gray-500 : #adb5bd !default;
$gray-600 : #6c757d !default;
$gray-700 : #495057 !default;
$gray-800 : #343a40 !default;
$gray-900 : #212529 !default;
$black    : #000    !default;

$blue   : #007bff !default;
$indigo : #6610f2 !default;
$purple : #6f42c1 !default;
$pink   : #e83e8c !default;
$red    : #dc3545 !default;
$orange : #fd7e14 !default;
$yellow : #ffc107 !default;
$green  : #28a745 !default;
$teal   : #20c997 !default;
$cyan   : #17a2b8 !default;

/**
  Brand Color
 */
//$primary-color: #6d5231;
//$secondary-color: #b0bf24;
//$tertiary-color: #c3b295;

/**
  Setting Color
 */
$text-color   : #0A0A0A;
$link-color   : $blue;
$link-color_hover: $indigo;

/**
  SNS Colors
 */
$sns-color_facebook  : #3B5998;
$sns-color_twitter   : #55acee;
$sns-color_instagram : #D93177;
$sns-color_line      : #00b900;
$sns-color_youtube   : #cd201f;
$sns-color_rss       : #ee802f;
$sns-color_wordpress : #21759b;
$sns-color_github    : #333333;
$sns-color_hatena    : #008fde;

/**
  layouts
 */
$spacer: 15px !default;