/**
  code overwrite variables
 */
@import "../../../../../../src/assets/sass/foundation/packages/hamburgers/hamburgers_overwrite";

/**
  import origin
 */
@import "../../../../../../src/assets/packages/hamburgers/_sass/hamburgers/hamburgers";